NODE_ENV=production
DATABASE_HOST=production-db-host
DATABASE_PORT=5432
DATABASE_NAME=production_database
DATABASE_USER=production_user
DATABASE_PASSWORD=replace_me
ENABLE_PIPELINE=true
PIPELINE_HOUR=2
PIPELINE_MINUTE=0
